:root {
    --bg-color: rgba(0, 140, 69, 0.9);
    --text-color: #F4F9FF;
    --button-color: #008C45;
    --button-hover-color: #007d35;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 600;
}

.info {

    background: linear-gradient(to bottom, var(--bg-color) 100%, #006b34 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}

.nav {
    background: linear-gradient(to bottom, var(--bg-color) 0%, #006b34 100%);
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.nav .logo h1 {
    width: 110%;
    font-size: 1.5rem;
    font-weight: 800;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.nav .logo h1:hover {
    background-image: url('/Users/Atef/Desktop/tayara/tayra/public/img/italy-flag.png'); /* Adjust the path as needed */
    background-size: cover;
    background-repeat: repeat-y;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.nav .search_box {
    position: relative;
    left: 30px;
}

.nav .search_box input {
    outline: none;
    border: 3px solid transparent;
    background-color: rgba(255, 255, 255, 0.9);
    width: 300px;
    color: #010f1c;
    padding: 8px;
    border-radius: 20px;
    transition: 0.3s;
}

.nav .search_box input::placeholder {
    font-size: 0.9rem;
    font-weight: 100;
}

.nav .search_box button,
.nav .add,
.nav .auth {
    border: none;
    outline: none;
    padding: 10px 20px;
    margin: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 200px;
}

.nav .search_box button {
    background: var(--button-color);
    color: #ecf2f7;
}

.nav .add,
.nav .auth {
    background: var(--button-color);
    color: #ecf2f7;
}

.nav .add {
    position: relative;
    left: 80px;
}

.nav .search_box button:hover,
.nav .add:hover,
.nav .auth:hover {
    background-color: var(--button-hover-color);
}

.btn {
    display: flex;
}
